<section id="about">
  <h1>About Me</h1>
  <img id="me" src="/images/me.jpg" alt="Zamith">

  <p>I'm the Co-Founder of <a href="http://www.groupbuddies.com/">Group Buddies</a></p>

  <p>I live in Braga, Portugal. I'm a geek, clean code lover and bballer.</p>

  <p>All opinions are my own and don't necessarily reflect those of my employer.</p>

  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
</section>
