// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

ul li {
  display: block;
}

ol li {
  margin-left: 25px;
}

#me {
  height: 130px;
  float: right;
  margin: 5px 10px 2px;
}

#about > img + p {
  margin-top: 1em;
}

#pair-with-me {
  margin-top: 10px;
}

.red {
  color: #F02311;
}

.green {
  color: #7AB317;
}

.refactor {
  color: #FBB829;
}
